# Ignore Logs
logs
*.log

# Ignore the build directory
/dist

# The file containing environment variables 
.env

# Ignore IDE and othe programs specific files
gitkraken-amd64.deb
.vscode/
.idea/

# ignoge python cache files
__pycache__/
App/__pycache__/__main__.cpython-36.pyc

# ignor virtual environment
venv/

Storage/session.csv

